.btn {
  padding: 10px;
  margin: 10px auto;
  width: 80%;
  text-align: center;
  color: #fff;
  background-color: rgba(0, 128, 0, 0.288);
  border: solid 5px green;
}

.submit {
  width: 90%;
  margin-top: 15px;
  color: green;
  background-color: #fff;
  border: solid 5px green;
  cursor: pointer;
}

.submit:hover {
  background-color: rgba(0, 128, 0, 0.288);
}

h1 {
  font-size: 40px;
}

p {
 font-size: 40px;
 border-bottom: solid 1px #fff;
}

a {
 text-decoration: none;
 display: block;
}

a:hover {
  background-color: #fff;
}

input {
  width: 90%;
  background-color: rgba(0, 128, 0, 0.288);
}

.box {
  width: 300px;
  display: block;
}

.boxes {
  display: flex;
  justify-content: space-around;
}